@model LayoutBasePageModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MF.Composition</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MF.Composition.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @Model.RenderFragment("header")
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">        
        @Model.RenderFragment("header")
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>